html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

.checkout-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 90px 80px;
  background: #e9e7e4;
  width: 100%;
  min-height: 100vh;
}

.checkout-left {
  width: 60%;
}

.checkout-label {
  color: #ff6a00;
  font-size: 12px;
  letter-spacing: 2px;
}

.checkout-left h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 10px 0;
}

.item-count {
  color: #666;
  margin-bottom: 30px;
}

.cart-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.cart-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart-icon {
  font-size: 28px;
  color: #555;
}

.price {
  color: #ff6a00;
  font-weight: 600;
}

.checkout-right {
  width: 30%;
  background: #0f172a;
  padding: 30px;
  margin-top: 140px;
}

.checkout-right h3 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ff6a00;
}

.order-btn {
  margin-top: 90px;
  width: 100%;
  padding: 12px;
  background: #ff6a00;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.order-btn:hover {
  opacity: 0.8;
}

.cart-info h4 {
  color: black;
}

.cart-info .cart-qty {
  color: #0f172a;
}

.cart-info p {
  color: black;
}

.checkout-left h1 {
  color: #000000 !important;
  opacity: 1 !important;
  filter: none !important;
}

.checkout-page.empty-mode {
  display: block;   /* hilangkan flex row */
}

.checkout-page.empty-mode .empty-cart {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;   /* ini yang bikin benar-benar tengah */
  justify-content: center;
}

.empty-icon { 
font-size: 70px; 
margin-bottom: 20px; 
color: #94a3b8; }

.empty-cart h3,
.empty-cart p {
  color: black;
}

.your-cart p {
    color: black;
}

.checkout-page h1 {
  color: black !important;
  opacity: 1 !important;
  text-shadow: none !important;
}